HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/src/main/resources/static/docs/index.html
/src/main/resources/application-oauth2.yml
/src/main/resources/application-hi.yml
/src/main/resources/application-payment.yml
/src/main/resources/application-local-mysql.yml
application-payment.yml
keystore.p12
/src/main/resources/static/images/
/src/test/resources/images/
