<head>
    <title>결제하기</title>
    <script src="https://js.tosspayments.com/v1/payment"></script>
    <section>
        <button id="payment-button">결제 하기</button>
    </section>
    <meta charset="UTF-8">
</head>
<body>
<script>
    var clientKey = 'test_ck_OALnQvDd2VJno4oBOBaVMj7X41mN'
    var tossPayments = TossPayments(clientKey) // 클라이언트 키로 초기화하기
    var button = document.getElementById('payment-button')
    // 이 아래 부분은 서버에 요청해서 가져올 내용 
    button.addEventListener('click', () =>{
        tossPayments.requestPayment('카드', { // 결제 수단 파라미터
            // 결제 정보 파라미터
            amount: 15000, // 결제 금액
            orderId: '1db00731-1e2d-464c-a35a-4e6389209427', // 각 서버에서 정한 고유한 주문 아이디
            orderName: '포인트 충전', // 상품명
            customerName: '박토스스',
            successUrl: 'http://localhost:8080/api/v1/payments/toss/success',
            failUrl: 'http://localhost:8080/api/v1/payments/toss/fail',
            customerEmail : "test1@gmail.com"
        })
            .catch(function (error) {
                if (error.code === 'USER_CANCEL') {
                    // 결제 고객이 결제창을 닫았을 때 에러 처리
                } else if (error.code === 'INVALID_CARD_COMPANY') {
                    // 유효하지 않은 카드 코드에 대한 에러 처리
                }
            })
    })


</script>
</body>
